# Ignore HELP.md and everything in the target folder
HELP.md
target/

# Include maven-wrapper.jar in .mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar

# Include target folders under src/main/ and src/test/
!**/src/main/**/target/
!**/src/test/**/target/

# STS files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA files
.idea
*.iws
*.iml
*.ipr

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code files
.vscode/
/src/main/resources/shipInfoLoginCred.json
/src/main/resources/barentsWatchAccountKey.json

# Exclude application.properties in src/main/resources/
src/main/resources/application.properties
